/* ==========================================================================*/
/* Global Element Styles*/
/* ==========================================================================*/

/* autoprefixer grid: autoplace */

html, body {
	min-height: 100%;
}
html {
	background-color: rgba(86,61,124,.05);
}
section {
	min-height: 100vh;
	background-color: #56b35a;
}

