.gridContainer {
	margin: 0 auto 4em auto;
	display: -ms-grid;
	display: grid;
	-ms-grid-columns: 150px 150px 150px 150px;
	grid-template-columns: 150px 150px 150px 150px;
	-ms-grid-rows: 50px 50px 50px 50px 50px 50px 75px;
	grid-template-rows: 50px 50px 50px 50px 50px 50px 75px;
	/*grid-row-gap: 4px;*/
	.round {
		-ms-grid-column: 1;
		grid-column-start: 1;
		-ms-grid-column-span: 1;
		grid-column-end: 2;
		margin: 17px 0 17px 0;
		text-align: right;
		padding-right: 10px;
		font-size: 16px;
		line-height: 16px;
		color: white;
	}
	.rating {
		-ms-grid-column: 2;
		grid-column-start: 2;
		-ms-grid-column-span: 1;
		grid-column-end: 3;
		margin: auto 0;
	}
	.slope {
		-ms-grid-column: 3;
		grid-column-start: 3;
		-ms-grid-column-span: 1;
		grid-column-end: 4;
		margin: auto 0;
	}
	.score {
		-ms-grid-column: 4;
		grid-column-start: 4;
		-ms-grid-column-span: 1;
		grid-column-end: 5;
		margin: auto 0;
	}
	.calcButtonDiv {
		-ms-grid-row: 6;
		-ms-grid-column: 1;
		-ms-grid-column-span: 3;
		-ms-grid-row-span: 1;
		grid-area: 7 / 1 / 7 / 5;
	}
	.calcButton {
		margin-top: 25px;
	}
	.row0 {
		font-weight: bold;
		color: white;
	}	
	.row1 {
		-ms-grid-row: 1;
	}
	input {
		max-width: 80px;
		background-color: #c6c6c6;
	}
	input[type="number"]::-webkit-outer-spin-button,
	input[type="number"]::-webkit-inner-spin-button {
    	-webkit-appearance: none;
   		margin: 0;
	}	
}